@use './lucas-cards';

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  height: 100%;
}
